#main{
    width: 850px;
    height: 550px;
    background-color: white;
    border-style: solid;
    border-width: thick;
    border-color: black;
    border-radius: 25px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 35px;
    margin: auto;
    font-family: Copperplate / Copperplate Gothic Light, sans-serif;
}

.button{
   color: white;
   height: 40px;
   width: 100px;
   background: dodgerblue;
   font-size: 20px;
   border-radius: 25px;
 }

.button2{
   color: white;
   height: 40px;
   width: 300px;
   background: dodgerblue;
   font-size: 20px;
   border-radius: 25px;
 }
#counter{
    color: black;
    font-size: 30px;
}

form{
    padding-top: 20px;
    padding-left: 30px;
}
  
#wholeNumber{
    border-width: thick;
    font-weight: bold;

}  
img{

}  
.move{
    padding-left: 180px;
    padding-top: 50px;
}

#userGuess {
    color: black;
    font-size: 30px;

}



